* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.container {
  width: 800px;
  height: 500px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
}

/* LEFT */
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.form-box {
  width: 80%;
}

.form-box h2 {
  margin-bottom: 20px;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 15px;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #7b2ff7, #f107a3);
  color: #fff;
  cursor: pointer;
}

/* TEXT */
.or {
  text-align: center;
  margin: 15px 0;
}

.signup {
  margin-top: 15px;
  font-size: 12px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 10px;
}

.social button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* FACEBOOK */
.fb {
  background: #1877f2;
  color: white;
}

/* GOOGLE */
.google {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.social i {
  font-size: 16px;
}

/* RIGHT */
.right {
  width: 50%;
  background: linear-gradient(to right, #7b2ff7, #f107a3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 14px;
  margin-bottom: 20px;
}

.learn {
  background: white;
  color: #7b2ff7;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
